.vs/phoenix_core/v15/Server/sqlite3/storage.ide
.vs/phoenix_core/v15/Server/sqlite3/db.lock
.vs/Supercharger/phoenix_core_web/workbench.dat
.vs/Supercharger/phoenix_core_web/global_history.dat
.vs/Supercharger/phoenix_core_web/codemap.dat
.vs/Supercharger/phoenix_core/workbench.dat
.vs/Supercharger/phoenix_core/global_history.dat
.vs/Supercharger/phoenix_core/codemap.dat
.vs/Supercharger/docker-compose/workbench.dat
.vs/Supercharger/docker-compose/global_history.dat
.vs/Supercharger/docker-compose/codemap.dat
.vs/Supercharger/Partners.Api/workbench.dat
.vs/Supercharger/Partners.Api/global_history.dat
.vs/Supercharger/Partners.Api/codemap.dat
.vs/Supercharger/Identity.Api/workbench.dat
.vs/Supercharger/Identity.Api/global_history.dat
.vs/Supercharger/Identity.Api/codemap.dat
.vs/Supercharger/Contracts.Api/workbench.dat
.vs/Supercharger/Contracts.Api/global_history.dat
.vs/Supercharger/Contracts.Api/codemap.dat
/.vs/phoenix_core/v15/Server/sqlite3/storage.ide-wal
/.vs/phoenix_core/v15/Server/sqlite3/storage.ide-shm
.vs/Supercharger/phoenix_core/rich_code_format.dat
.vs/Supercharger/phoenix_core/code_marker.dat
